.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 255, 170, 0.884);
    height: 100vh;
    width: 100%;
}

.main-title {
    color: white;
}